.theme-base-blue .sidebar {
    background-color: #008CBA; 
}

.theme-base-blue .content a,
.theme-base-blue .content h1,
.theme-base-blue .related-posts li a:hover {
  color: #008CBA;
}

.center {
    text-align: center;
}

.img-inline {
    display: inline-block;
}

.avatar {
    border-radius: 50%;
    margin: 0;
}

.sidebar-name {
    color: #fff;
    margin: 0;
}

.button {
    background-color: #008CBA;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid #008CBA;
    border-radius: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
}

.sidebar-footer {
    margin-top: 1rem;
}

.fa {
    margin: 0.25rem;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background-color: #007bb5;
    color: white;
}

.fa-github {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: #9a5d00;
    color: white;
}

.fa-youtube {
    background-color: #cc181e;
    color: white;
}
