<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nicholas Wu</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="css/poole.css" type="text/css">
    <link rel="stylesheet" href="css/hyde.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Vue for production -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Vue for development -->
    <!-- <script src="https://unpkg.com/vue"></script> -->
</head>
<body>
<div id="app">
    <div class="sidebar">
        <div class="container sidebar-sticky">
            <center>
                <img class="avatar" src="https://avatars3.githubusercontent.com/u/9021054?v=4&u=de203ee9993bc2e6533c96ef7f689888ade10d3f&s=150">
            </center>
            <h1 class="sidebar-name">Nicholas Wu</h1>
            <p class="lead">Software Developer</p>
            <p>A simple & lightweight website to feature my projects and to have some fun :)</p>

            <nav class="sidebar-nav">
                <a v-for="(item, i) in navItems"
                    class="sidebar-nav-item"
                    :class="{ active : item.isActive }"
                    @click="navItemClick(item, i)">
                    {{item.name}}
                </a>
            </nav>

            <div class="sidebar-footer center">
                <a class="fa fa-linkedin" href="https://linkedin.com/in/nick-wu/"></a>
                <a class="fa fa-github" href="https://github.com/nickwu241/"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/nickwu241/"></a>
                <a class="fa fa-youtube" href="https://www.youtube.com/user/nickwu241"></a>
            </div>
        </div> <!-- .sidebar-sticky-->
    </div> <!-- .sidebar-->

    <div class="content container" id="content-container">
        <div v-if="activeSection == 'Projects'" class="posts">
            <project v-for="p in projects"
            :title="p.name"
            :description="p.description"
            :date="p.date"
            :ghlink="p.ghlink"
            :imageinfo="p.imageinfo"
            :tags="p.tags">
            </project>
            <h1 class="post-title">For more...</h1>
            <p><a href="http://nickwu241.github.io/projects">Here</a> is a collection of all my projects.</p>
        </div>
        <div v-else-if="activeSection == 'Resume'">
            <p>Please click <a href="/resume.pdf">here</a> to view my resume if it doesn't load or display properly.</p>
            <embed type="application/pdf" src="resume.pdf#toolbar=0&navpanes=0&scrollbar=0&view=fit"
                width="100%"
                :height="resumeHeight">
        </div>
        <div v-else-if="activeSection == 'About'">
            <h1>Oooops...</h1>
            <p>Hi sneaky visitors, unfortunately there's no about section yet but I am working on it.
                Wow! I am flattered that you want to learn more about me :)</p>
            <p>In the meantime, you can find me on social media!</p>
            <a class="fa fa-linkedin fa-2x" href="https://linkedin.com/in/nick-wu/"></a>
            <a class="fa fa-github fa-2x" href="https://github.com/nickwu241/"></a>
            <a class="fa fa-instagram fa-2x" href="https://www.instagram.com/nickwu241/"></a>
            <a class="fa fa-youtube fa-2x" href="https://www.youtube.com/user/nickwu241"></a>
        </div>
    </div> <!-- .content-->

</div> <!-- #app-->
<script src="main.js"></script>
</body>
</html>
